.actived_tab {
    color: #fff;
    background-color: #31456a;
    transition: 0.5s;
}


@media all and (max-width:1920px) {
    #intro {
        width: 100%;
        height: 100vh;
        font-family: "Nanum_L";
        position: relative;
    }


    .tab_btn {
        width: 50%;
        position: absolute;
        left: 270px;
        top: -120px;
    }

    .tab_btn ul {
        display: flex;
    }

    .tab_btn li {
        width: 100%;
        font-size: 2.3vmin;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid #31456a;
    }


    /*basic info*/


    .txt_box {
        width: 420px;
        position: absolute;
        right: 100px;
        top: 60px;
    }

    .name {
        font-family: 'Nanum';
        font-size: 30px;
        letter-spacing: 1px;
    }

    .name span {
        font-size: 16px;
        margin-left: 5px;
    }

    .typing_effect {
        margin-top: 12px;
        height: 28px;
        letter-spacing: 5px;
        position: relative;
        font-size: 24px;
        display: inline-block;
        overflow: hidden;
        animation: typingAni 2s steps(17, end) forwards;
    }

    .typing_effect:after {
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        top: 0;
        right: 0;
        border-right: 1px solid black;
        animation: cursor 1s step-end infinite;
    }

    @keyframes typingAni {
        0% {
            width: 0%
        }

        100% {
            width: 72px;
        }
    }

    @keyframes cursor {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .explain {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 1.2px;
    }


    /*skills*/


    .skills_wrap {
        width: 520px;
        display: flex;
        flex-flow: column;
        position: absolute;
        right: 60px;
        top: 100px;
    }

    .skills_wrap > div {
        width: 100%;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
    }

    .skills_wrap > div img {
        width: 50px;
        height: 50px;
    }

    .percentage_box {
        width: 400px;
        height: 30px;
        position: relative;
        border: 1px solid black;
    }

    .percentage_box:before,
    .percentage_box:after {
        display: block;
        content: "";
        width: 30px;
        height: 15px;
        position: absolute;
        z-index: 99;
    }

    .percentage_box:before {
        left: 3px;
        top: 3px;
        border-left: 1px solid black;
        border-top: 1px solid black;
    }

    .percentage_box:after {
        right: 3px;
        bottom: 3px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .percent {
        width: 70%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f3e9bb;
        animation: percent 2s 1;
    }

    @keyframes percent {
        from {
            width: 0;
        }

        to {
            width: 70%;
        }
    }

    .percent_60 {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f3e9bb;
        animation: last_percent 2s 1;
    }

    @keyframes last_percent {
        from {
            width: 0;
        }

        to {
            width: 50%;
        }
    }

    .percentage_box {
        margin-top: 10px;
    }

    .statistic {
        font-family: 'Nanum';
        margin: 18px 0 0 4px;
        position: relative;
    }

    .statistic:after {
        display: block;
        content: "%";
        position: absolute;
        left: 100%;
        top: 0;
    }



    /*licenses*/


    .licenses_wrap {
        width: 520px;
        height: auto;
        font-family: 'Nanum';
        position: absolute;
        right: -100px;
        top: 100px;
    }

    .licenses_wrap > p {
        line-height: 3;
        letter-spacing: 1.2px;
        font-size: 20px;
        position: relative;
    }

    .licenses_wrap > p:before {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        background-color: #31456a;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .licenses_wrap span {
        font-family: 'Nanum_L';
        font-size: 14px;
        margin-left: 10px;
    }

    .me {
        z-index: -1;
    }
}



@media all and (max-width:1024px) {
    .me {
        width: 270px;
        position: absolute;
        right: 50px;
    }

    .me img {
        width: 100%;
    }

    .txt_box {
        left: 20px;
    }

    .skills_wrap {
        left: 0;
    }

    .licenses_wrap {
        left: 50px;
    }

}

@media all and (max-width:768px) {
    .tab_btn {
        left: 0;
        top: -40px;
        transition: 0.5s;
    }

    .tab_con {
        width: 92%;
        height: 420px;
        background-color: rgba(255, 255, 255, 0.7);
        transition: 1s;
        z-index: 99999;
    }

    .statistic {
        position: absolute;
        right: 80px;
    }
}

@media all and (max-width:650px) {
    .me {
        width: 190px;
        transition: 0.5s;
    }

    .txt_box {
        left: 20px;
    }


    .txt_box {
        width: 80%;
    }
    
        .explain {
        font-size: 18px;
    }

    .percentage_box {
        width: 280px;
        transition: 0.5s;
    }

    .statistic {
        right: 200px;
        transition: 0.5s;
    }
}


@media all and (max-width:480px) {
    .tab_btn {
        width: 62%;
    }

    .name {
        font-size: 24px;
    }

    .name span {
        font-size: 12px;
    }


    .typing_effect {
        height: 20px;
        font-size: 18px;
    }

    .explain {
        font-size: 15px;
    }


    .skills_wrap {
        left: -7px;
    }

    .skills_wrap > div img {
        width: 30px;
        height: 30px;
    }

    .percentage_box {
        width: 170px;
        height: 12px;
    }

    .percentage_box:before,
    .percentage_box:after {
        width: 15px;
        height: 7px;
    }

    .percentage_box:before {
        left: 1px;
        top: 1px;
    }

    .percentage_box:after {
        right: 1px;
        bottom: 1px;
    }

    .statistic {
        position: relative;
        right: 0;
        margin: 12px 0 0 4px;
        font-size: 10px;
    }

    .licenses_wrap {
        left: 40px;
    }

    .licenses_wrap > p {
        font-size: 15px;
    }

    .licenses_wrap span {
        font-size: 8px;
    }
}
