@media all and (max-width:1920px) {
    #works {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .slick-list {
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 15% !important;
        padding-right: 15% !important;
    }


    .rev_slider .slick-dots li {
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 5px;
        cursor: pointer;
    }

    .rev_slider .slick-dots li.slick-active {
        background-color: #31456a;
    }



    .slick-track {
        max-width: 100% !important;
        transform: translate3d(0, 0, 0) !important;
        perspective: 100px;
    }

    .slick-slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        width: 100% !important;
        transform: translate3d(0, 0, 0);
        transition: transform 1s, opacity 1s;
    }

    .slick-snext,
    .slick-sprev {
        display: block;
    }

    .slick-current {
        opacity: 1;
        position: relative;
        display: block;
        transform: translate3d(0, 0, 20px);
        z-index: 2;
    }

    .slick-snext {
        opacity: 0.5;
        transform: translate3d(20%, 0, 0px);
        z-index: 1;
    }

    .slick-sprev {
        opacity: 0.5;
        transform: translate3d(-20%, 0, 0px);
    }

    .slide_box {
        display: block;
        width: 100%;
        height: 360px;
        background-color: #fff;
        display: flex;
    }

    .slide_box .img_wrap {
        width: 50%;
        height: 100%;
        position: relative;
    }

    .slide_box .img_wrap > img {
        width: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .slide_box .txt_wrap {
        width: 50%;
        font-family: 'Nanum_L';
        color: black;
    }

    .txt_wrap .site_name {
        margin-top: 150px;
        font-size: 18px;
        font-weight: bold;
    }

    .txt_wrap .site_name span {
        font-family: 'Nanum';
        font-size: 20px;
    }


    .shortcut {
        width: 84%;
        display: inline-block;
        font-family: 'Oduda';
        font-size: 18px;
        margin-top: 10px;
        animation-name: move;
        animation-duration: 0.8s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    @keyframes move {
        0% {
            transform: translateX(-4px);
        }

        100% {
            transform: translate(4px);
        }
    }

    .origin {
        width: 84%;
        display: inline-block;
        font-family: 'Nanum_L';
        font-size: 13px;
        margin-top: 4px;
    }

    .origin:hover {
        text-decoration: underline;
    }


    .shack,
    .color1 {
        color: #61ae45;
    }

    .tom,
    .color2 {
        color: #572a31;
    }

    .kia,
    .color3 {
        color: #05141f;
    }

    .salt,
    .color4 {
        color: #d7a675;
    }

    .muju,
    .color5 {
        color: #31456a;
    }

    .copy_wrap {
        display: flex;
    }

    .copy_wrap .slide_box {
        width: 33.3333%;
        float: left;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .copy_wrap .img_wrap {
        width: 100%;
    }

    .copy_wrap .img_wrap img {
        width: 160px;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -70%);
    }

    .copy_wrap .txt_wrap {
        width: 100%;
        height: 70%;
        margin-left: 0;
        text-align: center;
    }


    .copy_wrap .site_name {
        margin-top: 0;
        font-size: 18px;
        font-weight: bold;
    }

}

@media all and (max-width:1024px) {

    .border1 .img_wrap img,
    .border2 .img_wrap img {
        width: 200px;
    }


    .txt_wrap .site_name {
        font-size: 16px;
    }

    .txt_wrap .site_name span {
        font-size: 18px;
    }

    .shortcut {
        font-size: 16px;
    }

    .origin {
        font-size: 12px;
    }

}

@media all and (max-width:897px) {
    .copy_wrap .img_wrap img {
        width: 140px;
    }
}


@media all and (max-width:768px) {

 .container {
        width: 80%;
    }

    .slide_box {
        flex-flow: column;
    }

    .slick-list {
        padding-top: 5% !important;
        padding-bottom: 5% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .border1 .img_wrap,
    .border2 .img_wrap {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .border1 .img_wrap img,
    .border2 .img_wrap img {
        width: 270px;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -20%);
    }

    .border1 .txt_wrap,
    .border2 .txt_wrap {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .copy_wrap {
        padding: 30px 0;
    }


    .copy_wrap .slide_box {
        width: 100%;
        height: 100px;
    }

    .copy_wrap .img_wrap {
        display: none;
    }

    .copy_wrap .site_name {
        margin-top: 30px;
    }

}

@media all and (max-width:580px) {

    .border1 .img_wrap img,
    .border2 .img_wrap img {
        width: 200px;
        top: 30%;
        transform: translate(-50%, -30%);
    }

    .border1 .txt_wrap,
    .border2 .txt_wrap {
        bottom: 60px;
    }

    .txt_wrap .site_name {
        font-size: 12px;
    }

    .txt_wrap .site_name span {
        font-size: 14px;
    }

    .shortcut {
        font-size: 12px;
    }

    .origin {
        font-size: 8px;
    }
}

@media all and (max-width:420px) {

    .border1 .img_wrap img,
    .border2 .img_wrap img {
        width: 160px;
    }

    .border1 .txt_wrap,
    .border2 .txt_wrap {
        width: 78%;
        bottom: 80px;
    }
}
